<%= form_with model: @buffet, html: { class: 'row gy-2 gx-3 align-items-center' } do |f|%>
    <div class="col-auto">
        <%= f.label :brand_name %>
        <%= f.text_field :brand_name, class: 'form-control', placeholder: 'Nome Fantasia' %>
    </div>
    <div class="col-auto">
        <%= f.label :corporate_name %>
        <%= f.text_field :corporate_name, class: 'form-control', placeholder: 'Razão Social' %>
    </div>
    <div class="col-auto">
        <%= f.label :cnpj %>
        <%= f.text_field :cnpj, class: 'form-control', placeholder: 'CNPJ' %>
    </div>
    <div class="col-auto">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control', placeholder: 'Celular para contato' %>
    </div>
    <div class="col-auto">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>
    <div class="col-auto">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control', placeholder: 'Endereço' %>
    </div>
    <div class="col-auto">
        <%= f.label :neighborhood %>
        <%= f.text_field :neighborhood, class: 'form-control', placeholder: 'Bairro' %>
    </div>
    <div class="col-auto">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'form-control', placeholder: 'Estado' %>
    </div>
    <div class="col-auto">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control', placeholder: 'Cidade' %>
    </div>
    <div class="col-auto">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code, class: 'form-control', placeholder: 'CEP' %>
    </div>
    <div class="col-auto">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', placeholder: 'Descrição' %>
    </div>
    <div class="col-auto">
        <%= f.label :payment_methods %>
        <%= f.text_field :payment_methods, class: 'form-control', placeholder: 'Formas de Pagamento aceitas' %>
    </div>

    <div class="col-auto">
        <%= f.label :cover_photo, 'Adicione uma foto para a exibição de seu Buffet' %>
        <%= f.file_field :cover_photo, class: 'form-control' %>
    </div>

    <div class="col-auto">
        <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
    </div>
<% end %>