<div class="container">
    <h1 class="my-4">Meu Buffet</h1>

    <div class="Buffet-prf-card mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="Buffet-prf-card-body">
                    <h4 class="Buffet-prf-card-title"><%= @buffet.brand_name %> </h5>
                    <% if @buffet.active == true && @buffet.active.present?%>
                     <h5 class="badge rounded-pill text-bg-success"><strong> Status do Buffet: <%= t(@buffet.active, scope: "activerecord.attributes.buffet.active") %></strong></h6>
                    <% else %>
                     <h5 class="badge rounded-pill text-bg-danger"><strong> Status do Buffet: <%= t(@buffet.active, scope: "activerecord.attributes.buffet.active") %></strong></h6>
                    <% end %>
                    <p class="Buffet-prf-card-text"><%= @buffet.corporate_name %></p>
                    <p class="Buffet-prf-card-text"><%= @buffet.address %></p>
                    <p class="Buffet-prf-card-text"><%= @buffet.phone %></p>
                    <p class="Buffet-prf-card-text"><%= @buffet.email %></p>
                    <p class="Buffet-prf-card-text"><%= @buffet.description %></p>
                    <p><%= button_to 'Ativar/Desativar Buffet', toggle_active_buffet_path(@buffet), class: "btn btn-primary" %></p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="Buffet-pfr_cover_photo">
                    <p> <strong> Foto de Capa do Buffet: </strong> </p>
                    <%= image_tag @buffet.cover_photo, class: "img-fluid Buffet-prf-card-img-top" if @buffet.cover_photo.attached? %>
                </div>
            </div>
        </div>
        <div class="Buffet-prf-card-footer">
            <%= link_to 'Editar', edit_buffet_path(@buffet), class: "btn btn-primary" %>
            <%= link_to 'Pedidos', buffet_buffet_orders_path(buffet_id: @buffet.id), class: "btn btn-primary" %>
        </div>
    </div>

    <h2 class="my-3"><strong>Tipos de eventos do buffet</strong></h2>

    <% if @buffet.events.present? %>
        <% @buffet.events.each do |event_type| %>
            <div class="Event-card mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="Event-card-body">
                            <h5 class="Event-card-title">
                                <%= link_to event_type.name, event_path(event_type), class: "btn btn-info" %>
                                <% if event_type.active == true && event_type.active.present? %>
                                    <span class="badge rounded-pill text-bg-success"><strong> Status do Evento: <%= t(event_type.active, scope: "activerecord.attributes.event.active") %></strong></span>
                                <% else %>
                                    <span class="badge rounded-pill text-bg-danger"><strong> Status do Evento: <%= t(event_type.active, scope: "activerecord.attributes.event.active") %></strong></span>
                                <% end %>
                            </h5>
                            <p class="Event-card-text">Descrição do Evento: <%= event_type.description %></p>
                            <p class="Event-card-text">Quantidade Mínima de Convidados: <%= event_type.min_people %></p>
                            <p class="Event-card-text">Quantidade Máxima de Convidados: <%= event_type.max_people %></p>
                            <p class="Event-card-text">Duração do Evento: <%= event_type.duration %></p>
                            <p class="Event-card-text">Event-cardápio para o Evento: <%= event_type.menu %></p>
                            <p class="Event-card-text">Serve bebidas Alcoólicas: <%= t(event_type.alcohol) %></p>
                            <p class="Event-card-text">Disponibiliza serviço de decoração: <%= t(event_type.decoration) %></p>
                            <p class="Event-card-text">Disponibiliza serviço de estacionamento: <%= t(event_type.parking_service) %></p>
                            <p class="Event-card-text">Realiza evento em outros locais: <%= t(event_type.at_buffet_location) %></p>
                        </div>
                        <div class="card">
                        <div class="card-body">
                            <% if event_type.partial_cancellation_fine.present? %>
                            <h5 class="card-title">Regras de Cancelamento:</h5>
                            <p class="card-text">Dias para Cancelamento Parcial: <%= event_type.partial_cancellation_days %></p>
                            <p class="card-text">Multa para Cancelamento Parcial: <%= event_type.partial_cancellation_fine %></p>
                            <p class="card-text">Dias para Cancelamento Total: <%= event_type.total_cancellation_days %></p>
                            <p class="card-text">Multa para Cancelamento Total: <%= event_type.total_cancellation_fine %></p>
                            <%= link_to 'Editar Regras de Cancelamento', cancellation_rules_event_path(event_type), class: "btn btn-primary" %>
                            <% else %>
                            <h5 class="card-title">Cadastre Aqui as regras referente ao cancelamento de pedidos:</h5>
                            <%= link_to 'Cadastrar Regras de Cancelamento', cancellation_rules_event_path(event_type), class: "btn btn-primary" %>
                            <% end %>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Event-Price-card"> 
                            <% if event_type.event_price.present?%>
                                <div class="Event-Price-card-content">
                                    <h3 class="Event-Price-card-title"><strong> Preço deste Evento: </strong></h3>
                                    <p class="Event-Price-card-text">Preço do Evento (Dia de Semana): <%= event_type.event_price.wd_price %></p>
                                    <p class="Event-card-text">Preço por Pessoa Adicional (Dia de Semana): <%= event_type.event_price.wd_add_person_price %></p>
                                    <p class="Event-card-text">Preço por Hora Extra (Dia de Semana): <%= event_type.event_price.wd_extra_hour_price %></p>
                                    <p class="Event-card-text">Preço do Evento (Fim de Semana): <%= event_type.event_price.we_price %></p>
                                    <p class="Event-card-text">Preço por Pessoa Adicional (Fim de Semana): <%= event_type.event_price.we_add_person_price %></p>
                                    <p class="Event-card-text">Preço por Hora Extra (Fim de Semana): <%= event_type.event_price.we_extra_hour_price %></p>
                                    <%= link_to 'Editar Preço deste Evento', edit_event_price_path(event_type.id), class: "btn btn-primary" %>

                                </div>
                                    <h2> Gerenciar Promoções do Evento </h2>
                                    <% if event_type.promotion.present? %>
                                    <div class="card">
                                        <div class="card-body">
                                        <h2 class="card-title">Promoção Ativa: <%= event_type.promotion.name %></h2>
                                        <p class="card-text">Início da Promoção: <%= event_type.promotion.start_date.strftime('%d/%m/%Y') %> / Fim da Promoção: <%= event_type.promotion.end_date.strftime('%d/%m/%Y') %></p>
                                        <p class="card-text">Desconto para Eventos de Segunda a Sexta: <%= (event_type.promotion.weekday_discount) * 100 %>%</p>
                                        <p class="card-text">Desconto para Eventos de Fim de Semana: <%= (event_type.promotion.weekend_discount) * 100 %>%</p>
                                        <%= button_to 'Deletar Promoção', event_promotion_path(event_type, event_type.promotion), method: :delete, class: "btn btn-danger" %>
                                        </div>
                                    </div>
                                    <% else %>
                                    <div class="card">
                                        <div class="card-body">
                                        <h5> Você ainda não tem nenhuma promoção ativa.</h3>
                                        <%= link_to 'Criar Promoção', new_event_promotion_path(event_id: event_type.id), class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                    <% end %>
                                <div>
                            </div>
                            <% else %>
                                <p>Nenhum preço cadastrado para este evento</p>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="Event-card-footer">
                    <%= link_to 'Cadastrar outro Tipo de Evento', new_event_path, class: "btn btn-primary" %>
                    <%= link_to 'Editar Evento', edit_event_path(event_type), class: "btn btn-primary" %>
                    <% if event_type.event_price.blank? %>
                        <%= link_to 'Cadastrar Preço deste Evento', url_for(controller: 'event_prices', action: 'new', event_id: event_type.id), class: "btn btn-primary" %>
                    <% end %>
                    <%= button_to 'Ativar/Desativar Evento', toggle_active_event_path(event_type), class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
    <% else %>
        <div class="alert alert-warning" role="alert">
            Você não tem nenhum tipo de evento cadastrado, cadastre aqui:
            <%= link_to 'Cadastrar Tipo de Evento', new_event_path, class: "btn btn-primary" %>
        </div>
    <% end %>
</div>