<div class="container">
  <h1 class="my-4">Editar o preço do evento</h1>
  <h3 class="my-4">Não coloque use pontos, letras ou símbolos ao cadastrar os preços. Ex: ""."", "R$", ","</h3>
  <% if @event_price.errors.any? %>
    <div class="alert alert-danger">
      <h2>Erro ao cadastrar fornecedor</h2>
      <ul>
        <% @event_price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @event_price, url: event_event_price_path(@event_price, event_id: @event.id), method: :patch, html: { class: 'row gy-2 gx-3 align-items-center' }) do |form| %>
    <div class="col-auto">
        <%= form.label :wd_price %>
        <%= form.text_field :wd_price, class: 'form-control', placeholder: 'Preço base durante a semana' %>
    </div>

    <div class="col-auto">
        <%= form.label :wd_add_person_price %>
        <%= form.text_field :wd_add_person_price, class: 'form-control', placeholder: 'Preço adicional por pessoa(semana)' %>
    </div>

    <div class="col-auto">
        <%= form.label :wd_extra_hour_price %>
        <%= form.text_field :wd_extra_hour_price, class: 'form-control', placeholder: 'Preço por hora extra(semana)' %>
    </div>

    <div class="col-auto">
        <%= form.label :we_price %>
        <%= form.text_field :we_price, class: 'form-control', placeholder: 'Preço base durante o fim de semana' %>
    </div>

    <div class="col-auto">
        <%= form.label :we_add_person_price %>
        <%= form.text_field :we_add_person_price, class: 'form-control', placeholder: 'Preço adicional por pessoa (Fim de semana)' %>
    </div>

    <div class="col-auto">
        <%= form.label :we_extra_hour_price %>
        <%= form.text_field :we_extra_hour_price, class: 'form-control', placeholder: 'Preço por hora extra(Fim de semana)' %>
    </div>

    <div class="">
        <%= form.submit 'Cadastrar', class: 'btn btn-primary' %>
    </div>
<% end %>

  <%= link_to 'Voltar', buffet_profile_path(@event.buffet.id), class: 'btn btn-secondary mt-3' %>
</div>