<%= form_with(model: @event, html: { class: 'row gy-2 gx-3 align-items-center' }) do |form| %>
  <%= form.hidden_field :buffet_id, value: @buffet.id %>

  <div class="col-auto">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Nome' %>
  </div>

  <div class="col-auto">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Descrição' %>
  </div>

  <div class="col-auto">
    <%= form.label :min_people %>
    <%= form.number_field :min_people, class: 'form-control', placeholder: 'Quantidade Padrão de Convidados' %>
  </div>

  <div class="col-auto">
    <%= form.label :max_people %>
    <%= form.number_field :max_people, class: 'form-control', placeholder: 'Quantidade Máxima de Convidados' %>
  </div>

  <div class="col-auto">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: 'form-control', placeholder: 'Duração Padrão' %>
  </div>

  <div class="col-auto">
    <%= form.label :menu %>
    <%= form.text_area :menu, class: 'form-control', placeholder: 'Menu' %>
  </div>

  <div class="col-auto">
    <%= form.label :alcohol, class: 'form-check-label' %>
    <%= form.check_box :alcohol, class: 'form-check-input' %>
  </div>

  <div class="col-auto">
    <%= form.label :decoration, class: 'form-check-label' %>
    <%= form.check_box :decoration, class: 'form-check-input' %>
  </div>

  <div class="col-auto">
    <%= form.label :parking_service, class: 'form-check-label' %>
    <%= form.check_box :parking_service, class: 'form-check-input' %>
  </div>

  <div class="col-auto">
    <%= form.label :at_buffet_location, class: 'form-check-label' %>
    <%= form.check_box :at_buffet_location, class: 'form-check-input' %>
  </div>

  <div class="col-auto">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true, class: 'form-control' %>
  </div>

  <div class="col-auto">
    <%= form.submit 'Cadastrar', class: 'btn btn-primary' %>
  </div>
<% end %>