<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @event.name %></h5>
          <% if @event.promotion.present? %>
            <div class="alert alert-success" role="alert">
              <h5>Este evento está com uma Promoção Ativa!</h5>
              <p>Promoção Ativa: <%= @event.promotion.name %></p>
              <p><strong> OS DESCONTOS SÃO SOBRE O PREÇO BASE DO EVENTO!! </strong></p>
              <p>Desconto na Semana: <%= @event.promotion.weekday_discount * 100 %>%</p>
              <p>Desconto no Fim de Semana: <%= @event.promotion.weekend_discount * 100 %>%</p>
              <p>Esta promoção vai até o dia: <%= @event.promotion.end_date.strftime('%d/%m/%Y') %></p>
            </div>
          <% end %>
          <p class="card-text"><strong>Descrição: </strong><%= @event.description %></p>
          <ul class="list-group list-group-flush">
            <% [:min_people, :max_people, :duration, :menu, :alcohol, :decoration, :parking_service, :at_buffet_location].each do |attribute| %>
              <li class="list-group-item">
                <strong><%= Event.human_attribute_name(attribute) %>:</strong>
                <%= attribute == :alcohol || attribute == :decoration || attribute == :parking_service || attribute == :at_buffet_location ? t("activerecord.attributes.event.#{attribute}_values.#{@event.send(attribute)}") : @event.send(attribute) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <% if @event.photos.attached? %>
        <h3>Fotos do Evento:</h3>
        <div class="photo-grid">
          <% @event.photos.each do |photo| %>
            <div class="photo-item">
              <%= image_tag url_for(photo), class: 'd-block', style: 'max-width: 500px; max-height: 500px;' %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="card">
        <div class="card-body">
          <% if @event.partial_cancellation_fine.present? %>
            <h5 class="card-title">Regras de Cancelamento:</h5>
            <p class="card-text">Dias para Cancelamento Parcial: <%= @event.partial_cancellation_days %> dias antes do dia do evento</p>
            <p class="card-text">Multa para Cancelamento Parcial: <%= 100 * @event.partial_cancellation_fine %>%</p>
            <p class="card-text">Dias para Cancelamento Total: <%= @event.total_cancellation_days %> dias antes do dia do evento</p>
            <p class="card-text">Multa de Cancelamento Total: <%= 100 * @event.total_cancellation_fine %>%</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if @event.event_price.present?%>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Preços do Evento:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Preço durante a semana:</strong>
                <%= @event.event_price.wd_price %>
              </li>
              <li class="list-group-item">
                <strong>Preço por pessoa durante a semana:</strong>
                <%= @event.event_price.wd_add_person_price %>
              </li>
              <li class="list-group-item">
                <strong>Preço por hora extra durante a semana:</strong>
                <%= @event.event_price.wd_extra_hour_price %>
              </li>
              <li class="list-group-item">
                <strong>Preço durante o fim de semana:</strong>
                <%= @event.event_price.we_price %>
              </li>
              <li class="list-group-item">
                <strong>Preço por pessoa durante o fim de semana:</strong>
                <%= @event.event_price.we_add_person_price %>
              </li>
              <li class="list-group-item">
                <strong>Preço por hora extra durante o fim de semana:</strong>
                <%= @event.event_price.we_extra_hour_price %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mt-3">
    <div class="col-md-12">
      <% if current_user.role == 'buffet_owner' && @event.buffet.user == current_user %>
        <%= link_to 'Editar', edit_event_path(@event), class: 'btn btn-primary' %>
      <% end%>
      <% if current_user.role == 'client' %>
        <%= link_to 'Realizar Pedido', new_order_path(event_id: @event.id), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
