<% final_price = 0 %>
<% event_price = @order.event.event_price %>
<% is_weekday = weekday?(@order.event_date) %>
<% has_promotion = @order.event.promotion.present? && @order.event.promotion.end_date >= @order.event_date %>

<% if is_weekday %>
  <% wd_price = event_price.wd_price %>
  <% wd_price *= (1 - @order.event.promotion.weekday_discount) if has_promotion %>
  <% wd_extra_person = event_price.wd_add_person_price %>
  <% wd_extra_hour = event_price.wd_extra_hour_price %>
  <% final_price = calculate_final_price(@order, wd_price, wd_extra_person, wd_extra_hour) %>
<% else %>
  <% we_price = event_price.we_price %>
  <% we_price *= (1 - @order.event.promotion.weekend_discount) if has_promotion %>
  <% we_extra_person = event_price.we_add_person_price %>
  <% we_extra_hour = event_price.we_extra_hour_price %>
  <% final_price = calculate_final_price(@order, we_price, we_extra_person, we_extra_hour) %>
<% end %>

<div class="container">
    <h1 class="my-4">Confirme o pedido:</h1>

    <% if @order.errors.any? %>
        <div class="alert alert-danger">
            <h2>Erro ao confirmar o pedido.</h2>
            <ul>
                <% @order.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="card border-primary mb-3">
        <div class="card-body">
            <%= form_with(model: @order, url: buffet_confirmation_order_path(@order), method: :patch, local: true) do |form| %>
                <div class="form-group">
                    <%= form.label :final_price, "Valor Final", class: 'form-label' %>
                    <%= form.number_field :final_price, value: final_price, step: 0.01, readonly: true, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :valid_until, "Data de validade para confirmação", class: 'form-label' %>
                    <%= form.date_field :valid_until, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :extra_fee, "Taxa Extra (Caso não deseje conceder, deixe 0)", class: 'form-label' %>
                    <%= form.number_field :extra_fee, step: 0.01, value: 0, placeholder: "Opcional", class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :discount, "Desconto (Caso não deseje conceder, deixe 0)", class: 'form-label' %>
                    <%= form.number_field :discount, step: 0.01, value: 0, placeholder: "Opcional", class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :description, "Descrição para caso ocorra alteração no valor ou não:", class: 'form-label' %>
                    <%= form.text_area :description, placeholder: "Obrigatório", class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :order_payment_method, "Meio de Pagamento", class: 'form-label' %>
                    <%= form.text_field :order_payment_method, placeholder: "Formas de pagamento aceitas.", class: 'form-control'%>
                </div>

                <div style="display: none;">
                    <%= form.label :event_date %>
                    <%= form.date_field :event_date, readonly: true %>

                    <%= form.label :estimated_guests %>
                    <%= form.number_field :estimated_guests, readonly: true %>

                    <%= form.label :details %>
                    <%= form.text_field :details, readonly: true %>

                    <%= form.label :event_address %>
                    <%= form.text_field :event_address, readonly: true %>

                    <%= form.label :buffet_id %>
                    <%= form.number_field :buffet_id, readonly: true %>

                    <%= form.label :event_id %>
                    <%= form.number_field :event_id, readonly: true %>
                </div>

                <%= form.submit "Confirmar Pedido", class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>
</div>