<div class="container">
    <h1 class="my-4">Estes são seus pedidos:</h1>

    <% if @orders.present? %>
        <% @orders.each do |o| %>
            <div class="card mb-4">
                <div class="card-header">
                    <%= link_to "Pedido: #{o.order_code}", order_path(o), class: 'h2' %>
                </div>
                <div class="card-body">
                    <% if o.status == 'awaiting_evaluation'%>
                        <p>Status do Pedido: <span class="badge bg-warning text-dark"><%= t(o.status, scope: [:activerecord, :attributes, :order]).upcase %></span></p>
                    <% elsif o.status == 'canceled' || o.status == 'expired' %>
                        <p>Status do Pedido: <span class="badge bg-danger"><%= t(o.status, scope: [:activerecord, :attributes, :order]).upcase %></span></p>
                    <% elsif o.status == 'confirmed' || o.status == 'confirmed_by_owner' %>
                        <p>Status do Pedido: <span class="badge bg-success"><%= t(o.status, scope: [:activerecord, :attributes, :order]).upcase %></span></p>
                    <% end %>
                    <p>Data Estimada: <%= l(o.event_date) %></p>
                    <% if o.status == 'confirmed_by_owner' %>
                        <p>Data-limite para confirmação do pedido: <%= l(o.valid_until) %></p>
                        <p>Valor Total: <%= number_to_currency(o.final_price - o.discount + o.extra_fee) %></p>
                    <% end %>
                    <% if o.fine.present? %>
                        <p>Valor da multa: <%= number_to_currency(o.fine.amount) %></p>
                        <p>Status da multa: <%= t("activerecord.attributes.fine.#{o.fine.status}") %></p>
                    <% end %>
                    <% if o.event_date <= Date.today && o.status == 'confirmed' %>
                        <%= link_to 'Avaliar Buffet', new_buffet_review_path(o.buffet), class: 'btn btn-primary' %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% else %>
        <div class="alert alert-warning" role="alert">
            <h2>Você ainda não fez nenhum pedido</h2>
        </div>
    <% end %>
</div>